       body{
        background-color:lightblue;
        color: rgb(73, 6, 180);
        font-family: Arial;
      }
      .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Reem Kufi', Arial, Helvetica, sans-serif;
      }
      .header > img{
        height: 100px;
      }
      .header > P{
        margin-top: 0px;
        font-size: 30px;
        font-weight: bold;
        color: blueviolet;
      }
      .center{
        background-color: rgba(91, 3, 233, 0.3);
        color: rgb(32, 10, 238);
        font-family: Arial;
        margin: 0 auto;
        width: 40%;
        padding: 10px 30px 10px 30px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: inset;
      }
      .title{
        font-size: 30px;
        font-weight: bold;
      }
      .move-icon{
        height: 50px;
        background: ;
      }
      .move-button{
        background-color: transparent;
        border: 3px solid white;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin-right: 10px;
      }
      .result{
        font-size: 25px;
        font-weight: bold;
        margin-top: 50px;
      }
      .score{
        margin-top: 60px;
      }
      .reset-score-button,
      .auto-play-button{
        background-color: white;
        border: none;
        font-size: 15px;
        padding: 8px 15px;
        cursor: pointer;
      }